{% extends "base.html" %}

{% block content %}
<div class="container">
    <table id="data-table">
        <thead>
            <tr>
                <th scope="col">Rpi</th>
                <th scope="col">Codigo</th>
                <th scope="col">Numero</th>
                <th scope="col">Nome codigo</th>
                <th scope="col">Razao social</th>
                <th scope="col">Procurador</th>
                <th scope="col">Email</th>
                <th scope="col">Insert email</th>
            </tr>
        </thead>
    </table>
</div>
<script>
    var data = JSON.parse('{{desenho | tojson | safe}}')

    var table = $('#data-table').DataTable({});

    $.each(data.numero_do_pedido, function (i, key) {
        table.row.add([
            data.numero_rpi[i],
            data.codigo[i],
            data.numero_do_pedido[i],
            data.nome_do_depositante[i],
            data.nome_do_autor[i],
            data.nome_do_procurador[i],
            data.email[i],
            '<form action="{{ url_for("post_insert_email")}}" method="POST"><input name="email"><input type="hidden" value="{{desenho["numero_do_pedido"]' + [i] + '}} name="num_ped"><button type="submit" class="btn btn-primary">Inserir</button></form>'
        ]);
    });

    table.draw();
</script>
{% endblock %}
    