{% extends "base.html" %}

{% block content %}

<body>
    <div class="container text-center">
        <h1>RPI</h1>
        {% for item in rpi['numero_rpi'] %}
            <div class="row justify-content-center">
                Revista: {{rpi['numero_rpi'][item]}}
                <form action="{{ url_for('get_desenho_rpi')}}" method="POST"><input value="{{rpi['numero_rpi'][item]}}" type="hidden" name="desenho_rpi"><button type="submit" class="btn btn-primary">Desenho</button></form>
                <form action="{{ url_for('get_patente_rpi')}}" method="POST"><input value="{{rpi['numero_rpi'][item]}}" type="hidden" name="patente_rpi"><button type="submit" class="btn btn-primary ml-2 mr-2">Patente</button></form>
                <form action="{{ url_for('get_marca_rpi')}}" method="POST"><input value="{{rpi['numero_rpi'][item]}}" type="hidden" name="marca_rpi"><button type="submit" class="btn btn-primary">Marca</button></form>
            </div>
        {% endfor %}
    </div>
</body>
{% endblock %}