{% extends "base.html" %}

{% block content %}
<div class="container">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">String</th>
            </tr>
        </thead>
        <tbody>
            {% for item in range(items['id']|length) %}
            <tr>
                <th scope="row">{{items['id'][item]}}</th>
                <td>{{items['string_t'][item]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
