{% extends "base.html" %}

{% block content %}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Rpi</th>
                <th scope="col">Numero</th>
                <th scope="col">Codigo</th>
                <th scope="col">Nome codigo</th>
                <th scope="col">Razao social</th>
                <th scope="col">Procurador</th>
            </tr>
        </thead>
        <tbody>
            {% for item in range(marca['numero']|length) %}
            <tr>
                <td>{{marca['numero_rpi'][item]}}</td>
                <td>{{marca['numero'][item]}}</td>
                <td>{{marca['codigo'][item]}}</td>
                <td>{{marca['nome'][item]}}</td>
                <td>{{marca['nome-razao-social'][item]}}</td>
                <td>{{marca['procurador'][item]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}