{% extends "base.html" %}


{% block content %}

<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="exampleFormControlFile1">Example file input</label>
            {{ form.hidden_tag() }}
            {{ form.file(class_="form-control-file", id="exampleFormControlFile1", type="file", onchange="disable_on_null()")}}
            <input type="submit" id="bt_submit">
        </div>
</div>

<script>
    var button_submit = document.getElementById('bt_submit').setAttribute("disabled", true);
    function disable_on_null(){
        var file_input = document.getElementById('exampleFormControlFile1');
        if (file_input.value == ""){
            var button_submit = document.getElementById('bt_submit');
            button_submit.setAttribute("disabled", true);
        }
        else{
            var button_submit = document.getElementById('bt_submit');
            button_submit.removeAttribute("disabled");
        }
    }
</script>
{% endblock %}